* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.inline-block {
    display: inline-block;
}

:root {
    --blue: #0061FF;
    --lightblue: #B4D0E7;
    --amaranto: #61082B;
    --red: #FF1C1C;
    --darkred: #D5001F;
    --oceanblue: #0093CE;
    --darkblue: #0D2481;
    --yellow: #FFD830;
    --lightgreen: #A2D39B;
}

.container-fluid {
    width: 100%;
}

.container-med {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1050px;
    margin: 0 auto;
}

ul, li, .annulment {
    text-decoration: none;
    list-style: none;
}

.text-align {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.paragraph-font {
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
}

.font-size-h3 {
    font-size: 36px;
    font-weight: 600;
}

.font-size-13px {
    font-size: 13px;
    font-weight: 300;
}

.font-size-13px-bold {
    font-size: 13px;
    font-weight: 700;
}

.font-size-15px-bold {
    font-size: 15px;
    font-weight: 700;
}

.font-size-22px {
    font-size: 22px;
    font-weight: 600;
}

.button a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.blue-link {
    color: blue;
    font-size: 15px;
}

.col-12 {
    width: 100%;
    padding: 0 25px;
}

.col-4 {
    width: calc((100% /12) * 4);
    padding: 0 25px;
}

.col-8 {
    width: calc((100% /12) * 8);
    padding: 0 25px;

}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-designit {
    width: calc((100% / 12) * 4);
}

.col-square {
    width: calc((100% / 12) * 6);
    justify-content: center;
    aspect-ratio: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* BACK-GROUND COLOR */

.bg-color-blue {
    background-color: #0061FF;
}

.bg-color-LightBlue {
    background-color: #B4D0E7;
}

.bg-color-white {
    background-color: white;
}

/* HEADER */

.menu-items {
    padding: 15px;
    line-height: 25px;
    font-size: 13px;
    font-weight: 400;
    
}

.header-logo > img {
    display: block;
    width: 110px;
}

.menu-items .links {
    list-style: none;
    text-decoration: none;
    color: grey;

}

/* MAIN - HERO */

.hero-title {
    font-size: 64px;
    font-weight: 700;
    padding-right: 130px;
    padding-top: 70px;
    padding-bottom: 25px;
}

.hero-img {
    width: 100%;
    display: block;
}

.hero-CTA {
    padding-top: 25px;
}

.hero-button {
    margin-top: 25px;
}

.hero-button .annulment {
    color: black;  
}

.hero-icon i {
    font-size: 50px;
    margin-top: 75px;
    
}

/* .hero {
    position: relative;
    z-index: -1;
    height: 690px;
} */

/* MAIN - SUBSCRIPTION-CARDS */

.subscription-plan {
    padding-top: 25px;
}

.subscription-plan-title {
    padding: 50px 25px;
}

.payment-type {
    padding: 0 25px;
}

.payment-type input, label {
    padding-right: 90px;
}

.product-purpose {
    padding: 25px 25px;
    position: relative;
}

.user-type {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.card-wrapper {
    border: 1px solid lightgray;    
}

.info-list, .info-list .button  {
    padding-top: 45px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.info-list li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.punti-salienti {
    padding-top: 45px;
    line-height: 40px;
    border-top: 1px solid lightgrey;
}

.fa-check {
    color: blue;
}

.card-icon {
    padding-right: 5px;
}

.contact {
    display: inline-block;
    padding-top: 30px;
}

.enterprise-paragraph {
    padding-top: 50px;
}

.card {
    margin-top: 50px;
}

.period-payment {
    margin-top: 20px;
}

.product-purpose-title .partner-title {
    margin-bottom: 20px;
}

/* PARTNER -SECTION */

.partner-section {
    margin-top: 150px;
}

.partner-img {
    width: 100%;
    display: block;
}

.partner-title{
    padding: 100px 0 15px 0;
}

.button-partner {
    padding-top: 30px;
}

.button-partner a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
}

/* INFORMATIONS -SECTION */

.information-img {
    width: 100%;
    display: block;
    padding-bottom: 30px;
}

.information-title {
    padding-bottom: 30px;
}

.section-informations-title  {
    padding: 160px 0 30px;
}

/* CUSTOMERS -CTA */

.customer-cta-title {
    padding: 160px 0 50px;
}

/* DESIGNIT */

.designit {
    margin-top: 150px;
}

.col-square > .logo-item {
    align-self: center;
    width: 145px;
    filter:invert(100%);

}

.logo-item-center {
    width: 275px;
}

.green {
    background-color: #A2D39B;
}

.amaranto {
    background-color: #61082B;
}

.oceanblue {
    background-color: #0093CE;
}

.red {
    background-color:#FF1C1C;
}

.grey {
    background-color: #F5F5F5;
}

.darkred {
    background-color: #D5001F;
}

.darkblue {
    background-color: #0D2481;
}

.yellow {
    background-color: #FFD830;
}

.designit-wrapper {
    padding: 46px;
}

.designit-wrapper > object {
    padding-bottom: 40px;
}

.paragraph-wrapper {
    border-top: 1px solid grey;
    padding-top: 40px;
}

.citazione {
    padding-top: 45px;
}

/* BRING DROPBOX */

.bring-dropbox {
    background-color: var(--lightblue);
    padding: 100px;
}

.bring-dropbox-title {
    color: var(--amaranto);
}

.button-bring a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;

}

.button-bring {
    padding-top: 15px;

}

/* FAQS */

.question, .arrow {
    line-height: 100px;
}

.faqs {
    padding-top: 150px;
    padding-bottom: 150px;
}

/* FOOTER */

.page-footer {
    background-color: black;
    border-bottom: 1px solid white;
}

.list-title {
    color: white;
    padding-bottom: 30px;
}

.footer-list-card {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-list-item > a {
    color: white;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
}

.footer-list-item {
    padding-bottom: 10px;
}

.fa-earth-americas {
    color: lightgrey;
    padding-right: 10px;
}

.lang-wrapper {
    color: grey;
    padding-top: 45px;
    border-top: 1px solid grey;
    padding-bottom: 45px;
}

.lang {
    padding-right: 10px;
}






