* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    width: 100%;
}

.container-med {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1050px;
    margin: 0 auto;
}

ul, li, .annulment {
    text-decoration: none;
    list-style: none;
}

.text-align {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.paragraph-font {
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
}

.font-size-h3 {
    font-size: 36px;
    font-weight: 600;
}

.font-size-13px {
    font-size: 13px;
    font-weight: 300;
}

.font-size-13px-bold {
    font-size: 13px;
    font-weight: 700;
}

.font-size-22px {
    font-size: 22px;
    font-weight: 600;
}

.button a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.blue-link {
    color: blue;
    font-size: 15px;
}

.col-12 {
    width: 100%;
    padding: 0 25px;
}

.col-4 {
    width: calc((100% /12) * 4);
    padding: 0 25px;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.col-8 {
    width: calc((100% /12) * 8);
    /* border: 1px solid black; */

}

.col-designit {
    width: calc(100% / 3);
    border: 1px solid black;
    height: 635px;
}

.col-square {
    flex-basis: 50%;
    border: 2px solid red;
    height: 50%;
    display: grid;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* BACK-GROUND COLOR */

.bg-color-blue {
    background-color: #0061FF;
}

.bg-color-LightBlue {
    background-color: #B4D0E7;
}

.bg-color-white {
    background-color: white;
}

/* HEADER */

.menu-items {
    padding: 15px;
    line-height: 25px;
    font-size: 13px;
    font-weight: 400;
    
}

.header-logo > img {
    display: block;
    width: 110px;
}

.menu-items .links {
    list-style: none;
    text-decoration: none;
    color: grey;

}

/* MAIN - HERO */

.hero-title {
    font-size: 64px;
    font-weight: 700;
    padding-right: 130px;
    padding-top: 70px;
    padding-bottom: 25px;
}

.hero-img {
    width: 100%;
    display: block;
}

.hero-CTA {
    padding-top: 25px;
}

.hero-button {
    margin-top: 25px;
}

.hero-button .annulment {
    color: black;  
}

.hero-icon i {
    font-size: 50px;
    margin-top: 75px;
    
}

/* .hero {
    position: relative;
    z-index: -1;
    height: 690px;
} */

/* MAIN - SUBSCRIPTION-CARDS */

.subscription-plan {
    padding-top: 25px;
}

.subscription-plan-title {
    padding: 50px 25px;
}

.payment-type {
    padding: 0 25px;
}

.payment-type input, label {
    padding-right: 90px;
}

.product-purpose {
    padding: 25px 25px;
    position: relative;
}

.user-type {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.card-wrapper {
    border: 1px solid lightgray;    
}

.info-list, .info-list .button  {
    padding-top: 45px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.info-list li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.punti-salienti {
    padding-top: 45px;
    line-height: 40px;
    border-top: 1px solid lightgrey;
}

.fa-check {
    color: blue;
}

.card-icon {
    padding-right: 5px;
}

.contact {
    display: inline-block;
    padding-top: 30px;
}

/* .enterprise-button {
    position: absolute;
    right: 25px;
    top: 25px;
} */

.enterprise-paragraph {
    padding-top: 50px;
}

.card {
    margin-top: 50px;
}

.period-payment {
    margin-top: 20px;
}

.product-purpose-title .partner-title {
    margin-bottom: 20px;
}

/* PARTNER -SECTION */

.partner-section {
    margin-top: 150px;
}

.partner-img {
    width: 100%;
    display: block;
}

.partner-title{
    padding: 100px 0 15px 0;
}

.button-partner {
    padding-top: 30px;
}

.button-partner a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
}

/* INFORMATIONS -SECTION */

.information-img {
    width: 100%;
    display: block;
    padding-bottom: 30px;
}

.information-title {
    padding-bottom: 30px;
}

.section-informations-title  {
    padding: 160px 0 30px;
}

/* CUSTOMERS -CTA */

.customer-cta-title {
    padding: 160px 0 50px;
}

/* DESIGNIT */

.col-square > .logo-item {
    align-self: center;
    width: 145px;
}











/* DEBUG */

/* .debug .container-fluid {
    border: 1px solid black;
    min-height: 100px;
} */

/* .debug .container-med {
    border: 1px solid red;
    min-height: 500px;

} */

/* .debug .hero {
    min-height: 500px;
    
}  */






